<h1>Enter your name and an activity</h1>
<form action="/forms/3_process">
  <label for="name">Name:</label>
  <input type="text" name="name" id="name"><br>

  <label for="activity">Activity:</label>
  <input type="text" name="activity" id="activity"><br>

  <input type="submit">
</form>
